<div class="row">
    <header class="modalheader">
        <div class="div_modalHeader">
            <span class="heading_modal">Add New Review</span>
            <div role="button" class="btn_close_modal" (click)="CloseAddReviewModal()">
                <span>&times;</span>
            </div>
        </div>
    </header>
</div>
<hr>
<div class="container padding-15">
    <form [formGroup]="addReviewForm">
        <div class="row">
            <div class="col-sm-10 col-md-9 no-float center-block">
                <!-- <h4 class="sub-heading">New Review</h4>
            <hr> -->
                <div class="new-review-wrap">
                    <div class="media header-info">
                        <!-- <div class="media-left review-media">
                            <div class="fileupload" data-provides="fileupload">
                                <div class="fileupload-preview thumbnail" data-trigger="fileupload">
                                    <span class="btn btn-file-upload btn-file">
                                        <span class="fileupload-exists"><i class="fa fa-camera"></i></span>
                                        <input type="file">
                                    </span>
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn fileupload-exists btn-review-pic-remove"
                                        data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-lg-12 border-bottom padding-10">
                            <img class="img_thumbnail"
                                src="https://m.media-amazon.com/images/I/3195TZH1-nL._SR120,120_.jpg">
                            <span class="color-black text-transform">Nokia 7.2 (Charcoal, 64 GB) (6 GB RAM)</span>
                        </div>

                        <div class="col-lg-12 border-bottom padding-10">
                            <h3 class="color-black">Over All Rating</h3>
                            <app-rating></app-rating>
                        </div>
                        <hr>
                        <!-- <div class="col-lg-12 border-bottom padding-10">
                            <h3 class="color-black">Rate features</h3>
                            <div class="col-lg-4 padding-0">
                                <label>Fingerprint reader</label>
                                <app-rating></app-rating>
                            </div>

                            <div class="col-lg-4 padding-0">
                                <label>Camera quality</label>
                                <app-rating></app-rating>
                            </div>

                            <div class="col-lg-4 padding-0">
                                <label>Battery life</label>
                                <app-rating></app-rating>
                            </div>

                            <div class="col-lg-4 padding-0">
                                <label>Fingerprint reader</label>
                                <app-rating></app-rating>
                            </div>

                            <div class="col-lg-4 padding-0">
                                <label>Camera quality</label>
                                <app-rating></app-rating>
                            </div>

                            <div class="col-lg-4 padding-0">
                                <label>Battery life</label>
                                <app-rating></app-rating>
                            </div>
                        </div> -->

                        <div class="col-lg-12 border-bottom padding-10">
                            <h3 class="color-black">Add a photo or video</h3>
                            <div class="col-lg-12">
                                <app-file-upload (uploadedImages)="uploadedImagesOnSubscribe($event)"></app-file-upload>
                            </div>
                        </div>

                        <div class="col-lg-12 border-bottom padding-10">
                            <div class="form-group col-lg-12 padding-0">
                                <h3 class="color-black">Add a headline</h3>
                                <input [(ngModel)]="selectedReview.title" formControlName="titleFormControl" type="text"
                                    class="form-control" placeholder="Review Title">
                            </div>
                            <div class="form-group col-lg-12 padding-0">
                                <h3 class="color-black">Add a headline</h3>
                                <textarea [(ngModel)]="selectedReview.detailedDescription"
                                    formControlName="detailedReviewControl" class="form-control"
                                    id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Write detailed review here"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Tags</label>
                        <input type="text" class="form-control tags" id="tags" value="tag1, tag2, tag3" />
                    </div>

                    <hr>

                    <div class="footer-btn-wrap">
                        <button (click)="saveReview()" class="btn btn-default">Submit</button>
                    </div>
                </div>
                <!-- /.new-review-wrap -->
            </div>
        </div>
    </form>
</div>