<nav class="navbar navbar-default navbar-fixed-top">
    <div class="accessory-navbar">
        <div class="container">
            <ul class="accessory-nav pull-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        <img class="profile-pic-holder" *ngIf="loggedIn" src="{{user.photoUrl}}" alt="Avatar">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            My Profile
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a *ngIf="!loggedIn" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">Login</a>
                    <a *ngIf="loggedIn" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">{{user.name}}</a>
                    <ul class="dropdown-menu login-form">
                        <!-- <li class="login-fields">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div>
                                <button class="btn btn-default btn-block" type="submit">Login</button>
                            </div>
                        </li> -->
                        <!-- <li role="separator" class="divider"></li> -->
                        <li *ngIf="!loggedIn" class="login-fields"><button (click)="signInWithFB()"
                                class="btn btn-facebook btn-block">Login With
                                Facebook</button></li>

                        <li *ngIf="loggedIn" class="login-fields"><button (click)="signOut()"
                                class="btn btn-facebook btn-block">Sign Out</button></li>
                    </ul>
                </li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Signup</a>
                    <ul class="dropdown-menu signup-form">
                        <li class="signup-fields text-center"><button class="btn btn-default" type="submit"><i
                                    class="fa fa-envelope"></i></button> <button class="btn btn-facebook"
                                type="submit"><i class="fa fa-facebook"></i></button></li>
                         <li role="separator" class="divider"></li>
                        <li class="login-fields text-center"><button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i></button></li>
                    </ul>
                </li> -->
            </ul>
            <button *ngIf="loggedIn" class="btn btn-navbar" type="submit">Write A Review</button>
        </div>
    </div>
</nav>