<!-- Begin page content -->
<div class="row">
    <div class="col-lg-10 col-sm-10 no-float center-block master-search-wrap">

        <h2 class="master-header">Search For {{searchText}}</h2>

        <div class="input-group input-group-lg master-search">
            <input [(ngModel)]="searchText" type="text" (keyup)="searchTerm$.next($event.target.value)"
                class="form-control" placeholder="eg: Avengers Age of Ultron Review">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="slideToggle()" id="master-category-dropdown"><i
                        class="fa fa-chevron-down"></i></button>
                <button (click)="searchProds()" type="button" class="btn btn-default"><i
                        class="fa fa-search"></i></button>
            </div>
        </div><!-- /.master-search -->

        <!-- Suggestions -->
        <div *ngIf="suggestionsVisibility" class="master-search-suggestions">
            <a (click)="redirectToProductDisplay(prod.name,prod._id)" *ngFor="let prod of products" class="suggestion">
                <img class="suggestion-image" height="34" src="{{prod.imageUrl}}">
                <div class="suggestion-title u-textTruncate">{{prod.name}}</div>
                <div class="suggestion-category">{{prod.category.categoryName}}</div>
                <div class="suggestion-extra text-truncate">{{prod.description}}</div>
            </a>
        </div>
        <!-- /.master-search-suggestions -->


        <p class="help-block text-muted text-center"><small>Type a keyword or select from the category</small></p>


        <!-- Master Categories -->
        <div class="master-categories clearfix" id="master-categories" style="display:none;">
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img src="assets/images/sample-cat-1.png" />
                    <div class="overlay">
                        <div class="title">Shopping</div>
                    </div>
                </div>
            </a>
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img src="assets/images/sample-cat-2.png" />
                    <div class="overlay">
                        <div class="title">Photography</div>
                    </div>
                </div>
            </a>
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img src="assets/images/sample-cat-3.png" />
                    <div class="overlay">
                        <div class="title">Travel</div>
                    </div>
                </div>
            </a>
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img src="assets/images/sample-cat-4.png" />
                    <div class="overlay">
                        <div class="title">Again Shopping</div>
                    </div>
                </div>
            </a>
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img src="assets/images/sample-cat-5.png" />
                    <div class="overlay">
                        <div class="title">Food</div>
                    </div>
                </div>
            </a>
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img
                        src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/4.jpg" />
                    <div class="overlay">
                        <div class="title">The garden shop</div>
                    </div>
                </div>
            </a>
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img
                        src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/5.jpg" />
                    <div class="overlay">
                        <div class="title">Spring daffodils</div>
                    </div>
                </div>
            </a>
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img
                        src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/6.jpg" />
                    <div class="overlay">
                        <div class="title">Iris along the path</div>
                    </div>
                </div>
            </a>
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img
                        src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/8.jpg" />
                    <div class="overlay">
                        <div class="title">The garden blueprint</div>
                    </div>
                </div>
            </a>
            <a href="#" class="master-category">
                <div class="master-category-content">
                    <img
                        src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/9.jpg" />
                    <div class="overlay">
                        <div class="title">The patio</div>
                    </div>
                </div>
            </a>
        </div><!-- /.master-categories -->


    </div><!-- /.master-search-wrap -->
</div>